.boas {
  font-size: 5em;
}
.IndexPage {
  background-color: #eaf2f2;
}

#indexBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fundoazul {
  background-image: url(../imagens/waves.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -25vh; 
}
@media only screen and (max-width: 900px) {
  #indexBanner {
    flex-direction: column;
    text-align: center;
  }
  .fundoazul{
  background-position: center -15vh; 
  }

  #indexBanner figure img {
    height: 50%;
    width: 50%;
  }

  .boas {
    width: 100%;
    margin: 0px 10px 10px 0px;
    font-size: 35px;
    padding-top:20px;
  }
}
