#LoginForm{
    background: beige;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 0 auto;
    width: 80%;
    padding: 20px 0px;
}