.navBar {
  display: flex;
  justify-content: space-between;
}

.logoContainer {
  max-width: 100px;

}

.logo{
width: 100%;

}

.linksContainer {
  list-style: none;
}

.linksItems {
  display: inline-block;
  margin: 10px;
}
