#card-section {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  /* padding-left: 2rem; */
  padding-top: 0;
  box-sizing: content-box;
  max-width: 100%;
  gap: 40px;
}

.card-section .card-procurar {
  margin: 0 2rem 2rem 0;
}

.list-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2rem;
  /*  padding-right: 50px; */
}

.search-b-navigation {
  display: flex;
  justify-content: end;
  gap: 30px;
}
.search-page {
  display: flex;
}

.openCategorias {
  display: none;
}

@media screen and (max-width: 1030px) {
  .search-page {
    display: flex;
    flex-direction: column;
  }

  .searchform {
    display: none;
    animation: slideDown 0.5s forwards;
    z-index: -1;
  }

  .openCategorias {
    display: flex;
  }

  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }
}
