.searchform {
  width: 390px;
  height: 665px;
  background: #d4eff1;
  padding: 35px 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.searchinput {
  width: 98%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 20px;
  padding: 0px 10px;
  box-sizing: border-box;
}

.searchform hr {
  border: 1px solid black;
}

.ingredients-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.searchform input[type="checkbox"] {
  width: 33px;
  height: 33px;
}

.item-container {
  display: flex;
}

.item-container label {
  font-size: 1.4rem;
  margin-left: 5px;
  align-self: center;
}
