.sidenavbar {
  width: fit-content;
  height: 100%;
  background: #d4eff1;
  display: flex;
  flex-direction: column;
  padding: 10px 25px;
  box-sizing: border-box;
  align-items: center;
  position: fixed;
}

.sidenavbar img {
  max-width: 150px;
  min-width: 150px;
}

.sidenavbar ul {
  list-style: none;
  padding: 0;
}

.sidenavbar ul li {
  height: 48px;
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 0 10px;
  box-sizing: border-box;
  width: 200px;
}

.sidenavbar ul li div {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sidenavbar ul li:hover {
  background: #78999b;
}

.sidenavbar ul li a {
  width: 100%;
  text-decoration: none;
  color: black;
}
