#SignUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: beige;
  margin: 0 auto;
  border: 1px solid black;
  border-radius: 20px;
  padding: 50px 0px;
  height: 600px;
  width: 600px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin: 100px auto;
}

#SignUpForm img {
  height: 10vh;
  width: 30vh;
}

#page {
  background: url("../imagens/backgroundColors.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
