.UserLateral {
	min-width: 10em;
	max-width: 15%;
	height: 665px;
	background: #d4eff1;
	padding: 35px 25px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
}
.butoesdiv {
	display: flex;
	flex-direction: column;
	gap: 2em;
	align-items: flex-start;
}
.butao {
	background-color: transparent;
	border-radius: 1em;
	padding-bottom: 1em;
	padding-top: 1em;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.butao span {
	padding-left: 1em;
	padding-right: 1em;
	font-size: 1.5em;
}

.butao:active {
	background-color: black;
	color: white;
}
.butao:active svg path {
	stroke: white;
}
#ingredients:active svg path, .EditRecipePage .butao:active svg path  {
	fill: white;
}
.butao svg {
	width: 3em;
	height: 3em;
}
