.UserLateral {
  min-width: 10em;
  max-width: 15%;
  height: 41.5625em;
  background: #d4eff1;
  padding: 2.1875em 1.5625em;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.butoesdiv {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: flex-start;
}
.butao {
  background-color: transparent;
  border-radius: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.butao span {
  padding-left: 1em;
}

.butao:active {
  background-color: black;
  color: white;
}
.butao:active svg path {
  stroke: white;
}
#ingredients:active svg path {
  fill: white;
}
.butao svg {
  width: 12px;
  height: 12px;
}
.UserPage {
  display: flex;
}
.UserInfo {
  border: 0;
  border-right: 0.1em;
  border-color: black;
  border-style: solid;
}
.UserInfo figure {
  text-align: center;
}
.UserInfo section {
  display: flex;
  margin: 1em;
  flex-direction: column;
  gap: 1em;
}
.UserInfo input,
select {
  height: 2em;
  border-radius: 1em;
  background-color: #d9d9d9;
  border: none;
}
.UserInfo button {
  background-color: #d4eff1;
  height: 2em;
  border-radius: 1em;
  border: none;
}

.user-options-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.user-options {
  width: auto;
  height: 1rem;
}

.user-options p {
  margin: 0;
}
