.UserLateral {
  width: 10em;
  max-width: 20%;
  height: 41.5625em;
  background: #d4eff1;
  padding: 2.1875em 1.5625em;

  display: flex;
  flex-direction: column;
}

.butoesdiv {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}
.butoesdiv:last-child span{
  padding-right: 0;
}

.butao {
  background-color: transparent;
  border-radius: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.butao span {
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.5em;
}

.butao:active {
  background-color: black;
  color: white;
}

.butao:active svg path {
  stroke: white;
}
#ingredients:active svg path,
.EditRecipePage .butao:active svg path {
  fill: white;
}

.butao svg {
  width: 3em;
  height: 3em;
}

.UserPage {
  display: flex;
  
}

.UserInfo {
  border: 0;
  border-right: 0.1em;
  border-color: black;
  border-style: solid;
  max-width: 40%;
}

.UserInfo figure {
  text-align: center;
}

.UserInfo .Perfil svg {
  width: 100%;

  height: auto;
}

.UserInfo section {
  display: flex;
  margin: 1em;
  flex-direction: column;
  gap: 1em;
}

.UserInfo input,
select {
  height: 4em;
  border-radius: 1em;
  background-color: #d9d9d9;
  border: none;
}

.UserInfo button {
  background-color: #d4eff1;
  height: 3em;
  border-radius: 1em;
  border: none;
}

.UserInfo input,
select {
  height: 3em;
  border-radius: 1em;
  background-color: #d9d9d9;
  border: none;
}

.UserInfo select,
.UserInfo input {
  padding: 0 0 0 1rem;
}



.user-options-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.user-options {
  width: fit-content;
  padding: 1px 10px;
  border-radius: 50px;
  background: gray;
}

.user-options p {
  margin: 0;
}
@media screen and (max-width: 480px) {
  .butao span,
  .UserInfo {
    font-size: 1em;
  }

}
@media screen and (max-width: 800px) {
  .UserInfo {
    max-width: 50%;
    border-right-width: 0;
    border-bottom: #000;
    border-bottom: 0.1em;
    border-style: solid;
  }
  .UserInfo figure {
    margin: 0;
  }
  .butao{
    flex-direction: column;
  }
  .butao svg {
    width: 2em;
    height: 2em;
  }
  .butoesdiv {
    
    align-items:center
  }
  .butoesdiv:last-child span{
    padding-right: 1em;
  }
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-left: 2rem;
  padding-top: 2rem;
  box-sizing: content-box;
  max-width: 100%;
}


.cont-text {
  padding: 0 2rem;
}
.cont-text p {
  /* width: auto; */
  max-height: 60px;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}

