.ViewRecipePage {
  padding-top: 5em;
  margin-bottom: 20em;
  height: 500px;
}
.Recipe {
  width: 80%;
  height: 100%;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  border-radius: 3em;
  border-style: solid;
}
.Recipe .Detalhes,
.Recommended {
  width: 100%;
  padding: 2em;
  box-sizing: border-box;
}
.Recommended h3 {
  padding-left: 4em;
}
.Recommended .boxcard {
  margin-inline-end: 3em;
}
.Recipe .Detalhes svg {
  padding-top: 4em;
}
.Recipe .Detalhes h2 {
  margin-top: 0em;
}
.TagList {
  list-style: none;
  display: inline-flex;
  gap: 10px;
  margin: 0;
  padding: 0;
}
.IngredientList {
  padding-bottom: 3em;
}
.TagList li {
  padding: 1px 10px;
  border-radius: 50px;
  background: gray;
}

.Recipe figure img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.Recipe figure {
  margin: 0;
  margin-inline: 0;
  margin-block: 0;
  max-width: 40%;
  height: 100%;
  overflow: hidden;
  border-top-left-radius: 3em;
  border-bottom-left-radius: 3em;
}
